language = "html"
run = "npm run start"
# This file is for the Replit IDE to specify which file to run and what language.
# It is unnecessary for any use-case that does not include the Replit IDE
# IDE: Replit.com
