html, body { height: 100%; }
@font-face {
    font-family: Norwester;
    src: url("fonts/norwester.otf") format("opentype");
}
body{
	font-family: "Norwester";
}
.row {
  display: flex;
}
.bg{
	background-image: url("bground.png");
}
.blacktxt{
	color:white;
	background-color: rgba(0,0,0,0);
}























/* The switch - the box around the slider */
.oldswitch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.oldswitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch {
  background-color: #2196F3;
}

input:focus + .switch {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch.round {
  border-radius: 34px;
}

.switch.round:before {
  border-radius: 50%;
}
















/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}












::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ffffff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #ffffff;
}

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 25px;
    width: 200px;
    cursor: pointer;
    border-radius: 0; /* iOS */
		border-radius: 13px; 
}

::-webkit-slider-runnable-track {
    background: #000000;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 * 2. Shadow is negative the full width of the input and has a spread 
 *    of the width of the input.
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px; /* 1 */
    height: 25px;
		border-radius: 13px; 
    background: #00d5ff;
    box-shadow: -500px 0 0 490px #00d5ff; /* 2 */
    border: 2px solid #ffffff; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #000000;
}

::-moz-range-thumb {
    background: #000000; 
    height: 40px;
    width: 20px;
    border: 3px solid #000000;
    border-radius: 0 !important;
    box-shadow: -200px 0 0 200px #1bd6ff;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: #1bd6ff;
}

::-ms-thumb { 
    background: #000000;
    border: 2px solid #000000;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #000000;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}